@using iGoo.Helpers
@{
    Layout = "~/Views/Layout/Home.cshtml";
}
@section meta
{
    <title>@ViewBag.Category[0]["MetaTitle"]</title>
    @if (!String.IsNullOrEmpty(ViewBag.Category[0]["MetaDescription"].ToString()))
    {
        <meta name="description" content="@ViewBag.Category[0]["MetaDescription"]" />
    }
    else
    {
        <meta name="description" content="@ViewBag.Category[0]["MetaTitle"] | @ViewBag.Website[0]["MetaTitle"]" />
    }
    <meta name="keywords" content="@ViewBag.Category[0]["MetaKeyword"]" />
    <link rel="canonical" href="http://@Libs.sApp("Domain")/p/@(Html.Raw(ViewBag.Category[0]["SEOName"]))" />
    <link rel="alternate" type="application/rss+xml" title="@ViewBag.Category[0]["MetaTitle"] Feed" href="http://@Libs.sApp("Domain")/@(Html.Raw(ViewBag.Category[0]["SEOName"])).rss" />
}
@section head
{
    <script type="text/javascript" src="/Script/jquery.tooltip.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".tooltip").tooltip({
                bodyHandler: function () {
                    return $(this).children(".tooltip_content").html();
                },
                track: true,
                showURL: false
            });
        });
    </script>
    <!-- App.js -->
    <script src="../../NewDesign/public/js/common.script.js"></script>
    <script src="../../NewDesign/public/js/product-category.script.js"></script>
}
@section main{
    <section id="content">
        <div class="container">
            <div class="rcrumbs my-crumb" id="breadcrumbs">
                <ul>
                    <li><a href="/" title="Trang chủ" rel="nofollow"><i class="fa fa-home"> Trang chủ</i></a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
                    <li><a itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="url" title="@ViewBag.Category[0]["MetaTitle"]" href="/p/@(ViewBag.Category[0]["SEOName"])">@ViewBag.Category[0]["Name"]</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
                    <li><a target="_blank" title="@ViewBag.Category[0]["MetaTitle"] RSS" href="/p/@(ViewBag.Category[0]["SEOName"]).rss"><img alt="RSS" src="/Source/images/rss.png" /></a>
                </ul>
            </div>
            <div class="product-category">
                <div class="row">
                    <div class="col-md-3 hidden-xs">
                        <ul class="nav side-menu" id="side-menu">
                            @foreach (var item in ViewBag.Menu)
                            {

                                <li>
                                    <a href="#">@item.Name<i class="fa fa-angle-right"></i></a>
                                    <ul class="nav nav-second-level">
                                        @foreach (var item1 in @item.Menu)
                                        {
                                            <li>
                                                <a title="@item1.MetaTitle" href="/p/@item1.SEOName">@item1.Name</a>
                                                @if (@item1.Menu.Count > 0)
                                                {
                                                    <ul>
                                                        @foreach (var item2 in @item1.Menu)
                                                        {
                                                            <li><a title="@item2.MetaTitle" href="/p/@item2.SEOName">@item2.Name</a></li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                        
                                    </ul>
                                </li>
                               

                            }
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <h4 class="title-prod-category">@ViewBag.Category[0]["Name"]
                        @{
                            if (ViewBag.Product.Count > 0)
                            {
                                <span>(@ViewBag.TotalRecords sản phẩm)</span>
                            }
                        }
                            
                        </h4>
                        <!-- TAB NAVIGATION -->
                        <ul class="nav nav-tabs mytabs" role="tablist">
                            <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Khuyến Mãi</a></li>
                            <li><a href="#tab2" role="tab" data-toggle="tab">Bán Chạy</a></li>
                            <li><a href="#tab3" role="tab" data-toggle="tab">Mới & Nổi Bật</a></li>
                            <li class="all-show"><a href="#">Xem Tất Cả</a></li>
                        </ul>
                        <!-- TAB CONTENT -->
                        <div class="tab-content">
                            <div class="active tab-pane fade in" id="tab1">
                                @if (ViewBag.Product.Count > 0)
                                {
                                    int space = 5, a, b;
                                    int p = Convert.ToInt32(ViewBag.TotalPages);
                                    int c = Convert.ToInt32(ViewBag.CategoryPage);
                                    if (c > space) { a = c - space; } else { a = 1; }
                                    if (c + space > p) { b = p; } else { b = c + space; }
                                <div class="content-carousel">
                                    <div class="row">
                                        @foreach (var item in ViewBag.Product)
                                            {
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <div class="prod-cat">
                                                    <div class="prod-img">
                                                        @if (!item["DiscountPercent"].ToString().Equals("0"))
                                                            {
                                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                                            }

                                                        <div class="inner">
                                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">
                                                                <img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "189x157")))" alt="@item["MetaTitle"]" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="prod-info">
                                                        <h1 class="prod-name">
                                                            <a class="title" href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                                        </h1>
                                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"])) VND</h4>
                                                        <div class="text-center mt-20">
                                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            }


                                    </div>
                                    <div class="row foot-pagination">
                                        <div class="col col-xs-4">
                                            <span>Trang @ViewBag.CategoryPage / @ViewBag.TotalPages</span>
                                        </div>
                                        <div class="col col-xs-8">
                                            @for (int i = a; i <= b; i++)
                                                {
                                                    if (i == c)
                                                    {
                                                <a class="page-c" title="@ViewBag.Category[0]["MetaTitle"] - Trang @(i.ToString())" href="/p/@(i == 1 ? ViewBag.Category[0]["SEOName"] : ViewBag.Category[0]["SEOName"] + "/" + i.ToString())">@i.ToString()</a>
                                                    }
                                                    else
                                                    {
                                                <a @Html.Raw(i - c == 1 ? "rel=\"next\"" : string.Empty) @Html.Raw(c - i == 1 ? "rel=\"prev\"" : string.Empty) title="@ViewBag.Category[0]["MetaTitle"] - Trang @(i.ToString())" href="/p/@(i == 1 ? ViewBag.Category[0]["SEOName"] : ViewBag.Category[0]["SEOName"] + "/" + i.ToString())">@i.ToString()</a>
                                                    }
                                                }
                                            @if (c > 1)
                                                {
                                                <link rel="prev" href="http://@Libs.sApp("Domain")/p/@(ViewBag.Category[0]["SEOName"] + "/" + (c - 1).ToString())" />
                                                }
                                            @if (c < p)
                                                {
                                                <link rel="next" href="http://@Libs.sApp("Domain")/p/@(ViewBag.Category[0]["SEOName"] + "/" + (c + 1).ToString())" />
                                                }
                                        </div>
                                    </div>
                                </div>
                                }
                                else
                                {
                                <p class="not-found">Nội dung đang được cập nhật!</p>
                                }

                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="active tab-pane fade in" id="tab1">
                                    @if (ViewBag.Product.Count > 0)
                                    {
                                        int space = 5, a, b;
                                        int p = Convert.ToInt32(ViewBag.TotalPages);
                                        int c = Convert.ToInt32(ViewBag.CategoryPage);
                                        if (c > space) { a = c - space; } else { a = 1; }
                                        if (c + space > p) { b = p; } else { b = c + space; }
                                        <div class="content-carousel">
                                            <div class="row">
                                                @foreach (var item in ViewBag.Product)
                                                {
                                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                                        <div class="prod-cat">
                                                            <div class="prod-img">
                                                                @if (!item["DiscountPercent"].ToString().Equals("0"))
                                                                {
                                                                    <span class="discount">-@item["DiscountPercent"]%</span>
                                                                }

                                                                <div class="inner">
                                                                    <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">
                                                                        <img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "189x157")))" alt="@item["MetaTitle"]" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="prod-info">
                                                                <h1 class="prod-name">
                                                                    <a class="title" href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                                                </h1>
                                                                <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"])) VND</h4>
                                                                <div class="text-center mt-20">
                                                                    <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }


                                            </div>
                                            <div class="row foot-pagination">
                                                <div class="col col-xs-4">
                                                    <span>Trang @ViewBag.CategoryPage / @ViewBag.TotalPages</span>
                                                </div>
                                                <div class="col col-xs-8">
                                                    @for (int i = a; i <= b; i++)
                                                    {
                                                        if (i == c)
                                                        {
                                                            <a class="page-c" title="@ViewBag.Category[0]["MetaTitle"] - Trang @(i.ToString())" href="/p/@(i == 1 ? ViewBag.Category[0]["SEOName"] : ViewBag.Category[0]["SEOName"] + "/" + i.ToString())">@i.ToString()</a>
                                                        }
                                                        else
                                                        {
                                                            <a @Html.Raw(i - c == 1 ? "rel=\"next\"" : string.Empty) @Html.Raw(c - i == 1 ? "rel=\"prev\"" : string.Empty) title="@ViewBag.Category[0]["MetaTitle"] - Trang @(i.ToString())" href="/p/@(i == 1 ? ViewBag.Category[0]["SEOName"] : ViewBag.Category[0]["SEOName"] + "/" + i.ToString())">@i.ToString()</a>
                                                        }
                                                    }
                                                    @if (c > 1)
                                                    {
                                                        <link rel="prev" href="http://@Libs.sApp("Domain")/p/@(ViewBag.Category[0]["SEOName"] + "/" + (c - 1).ToString())" />
                                                    }
                                                    @if (c < p)
                                                    {
                                                        <link rel="next" href="http://@Libs.sApp("Domain")/p/@(ViewBag.Category[0]["SEOName"] + "/" + (c + 1).ToString())" />
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="not-found">Nội dung đang được cập nhật!</p>
                                    }

                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3">
                                <div class="active tab-pane fade in" id="tab1">
                                    @if (ViewBag.Product.Count > 0)
                                    {
                                        int space = 5, a, b;
                                        int p = Convert.ToInt32(ViewBag.TotalPages);
                                        int c = Convert.ToInt32(ViewBag.CategoryPage);
                                        if (c > space) { a = c - space; } else { a = 1; }
                                        if (c + space > p) { b = p; } else { b = c + space; }
                                        <div class="content-carousel">
                                            <div class="row">
                                                @foreach (var item in ViewBag.Product)
                                                {
                                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                                        <div class="prod-cat">
                                                            <div class="prod-img">
                                                                @if (!item["DiscountPercent"].ToString().Equals("0"))
                                                                {
                                                                    <span class="discount">-@item["DiscountPercent"]%</span>
                                                                }

                                                                <div class="inner">
                                                                    <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">
                                                                        <img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "189x157")))" alt="@item["MetaTitle"]" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="prod-info">
                                                                <h1 class="prod-name">
                                                                    <a class="title" href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                                                </h1>
                                                                <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"])) VND</h4>
                                                                <div class="text-center mt-20">
                                                                    <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }


                                            </div>
                                            <div class="row foot-pagination">
                                                <div class="col col-xs-4">
                                                    <span>Trang @ViewBag.CategoryPage / @ViewBag.TotalPages</span>
                                                </div>
                                                <div class="col col-xs-8">
                                                    @for (int i = a; i <= b; i++)
                                                    {
                                                        if (i == c)
                                                        {
                                                            <a class="page-c" title="@ViewBag.Category[0]["MetaTitle"] - Trang @(i.ToString())" href="/p/@(i == 1 ? ViewBag.Category[0]["SEOName"] : ViewBag.Category[0]["SEOName"] + "/" + i.ToString())">@i.ToString()</a>
                                                        }
                                                        else
                                                        {
                                                            <a @Html.Raw(i - c == 1 ? "rel=\"next\"" : string.Empty) @Html.Raw(c - i == 1 ? "rel=\"prev\"" : string.Empty) title="@ViewBag.Category[0]["MetaTitle"] - Trang @(i.ToString())" href="/p/@(i == 1 ? ViewBag.Category[0]["SEOName"] : ViewBag.Category[0]["SEOName"] + "/" + i.ToString())">@i.ToString()</a>
                                                        }
                                                    }
                                                    @if (c > 1)
                                                    {
                                                        <link rel="prev" href="http://@Libs.sApp("Domain")/p/@(ViewBag.Category[0]["SEOName"] + "/" + (c - 1).ToString())" />
                                                    }
                                                    @if (c < p)
                                                    {
                                                        <link rel="next" href="http://@Libs.sApp("Domain")/p/@(ViewBag.Category[0]["SEOName"] + "/" + (c + 1).ToString())" />
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="not-found">Nội dung đang được cập nhật!</p>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
