@using iGoo.Helpers
@{
    Layout = "~/Views/Layout/Home.cshtml";
}
@section meta
{
    <title>@ViewBag.Product[0]["MetaTitle"]</title>
    @if (!String.IsNullOrEmpty(ViewBag.Product[0]["MetaDescription"].ToString()))
    {
        <meta name="description" content="@ViewBag.Product[0]["MetaDescription"]" />
    }
    else
    {
        <meta name="description" content="@Convert.ToString((string)ViewBag.Product[0]["Brief"]).Truncate(160)" />
    }
    <meta name="keywords" content="@ViewBag.Product[0]["MetaKeyword"]" />
    <link rel="canonical" href="http://@Libs.sApp("Domain")/p/@(Html.Raw(ViewBag.Product[0]["SEOName"])).html" />
    <meta itemprop="image" content="http://@Libs.sApp("Domain")/uploads/@ViewBag.Product[0]["Image"]" />
    <meta property="og:image" content="http://@Libs.sApp("Domain")/uploads/@ViewBag.Product[0]["Image"]" />
}
@section head
{
    <link rel="stylesheet" type="text/css" href="/Source/images/cloud-zoom.css" />
    <script type="text/javascript" src="/Script/cloud-zoom.js"></script>
    <link href="/Script/colorbox/colorbox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Script/colorbox/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/Script/jquery.tooltip.js"></script>
    <script src="../../NewDesign/public/js/common.script.js"></script>
    <script src="../../NewDesign/public/js/product-detail.script.js"></script>
    <script type="text/javascript">
    $().ready(function () {

        $(".cloud-zoom-gallery").colorbox({rel:'cloud-zoom-gallery',width:"75%", height:"75%"});

        //Add Comment
        $('button[id="btnComment"]').click(function () {
            $(this).text("Đang xử lý!");
            var id = "@ViewBag.Product[0]["ProductID"]";
            var txtComment =  $('#txtComment').val();
            var __RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            $.post("@Url.Action("AddComment")", {ProductID: id, txtComment: txtComment,__RequestVerificationToken:__RequestVerificationToken},
            function (data) {
                $('.send-c').html(data);
            });
        });

        $(".tooltip").tooltip({
            bodyHandler: function () {
                return $(this).children(".tooltip_content").html()
            },
            track: true,
            showURL: false
        });

    });

    function Spam(id)
    {
        if(confirm("Bạn hãy chắc chắn bài viết này vi phạm?"))
        {
            var __RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            $.post("@Url.Action("AddSpam")", {CommentID: id, __RequestVerificationToken:__RequestVerificationToken},
            function (data) {
                if(data=="True")
                {
                    alert("Cảm ơn bạn! Chúng tôi sẽ kiểm tra câu hỏi này");
                    $('.'+id).slideUp();
                }
                else
                    alert("Đăng nhập hoặc Đăng ký ngay để báo spam!");
            });
        }
    }
    </script>
}
@section main
{
    <section id="content">
        <div class="container">
        <div class="rcrumbs my-crumb" id="breadcrumbs">
            <ul>
                <li><a href="/" title="Trang chủ"><i class="fa fa-home"> Trang chủ </i></a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
                <li><a itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="url" title="@ViewBag.Product[0]["CateMetaTitle"]" href="@(ViewBag.Product[0]["CateSEOName"])"><span itemprop="title">@ViewBag.Product[0]["CateName"]</span></a></li>
                    
            </ul>
        </div>
            @foreach (var item in ViewBag.Product)
            {
                <div class="box-product-detail">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="name-product-detail">
                            <h1>@item["Title"]</h1>
                            <h4>Mã sản phẩm: @item["SKU"]</h4>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-sm-5">
                        <div class="prod-galery">
                            <div class="main-img">
                                <div class="inner">
                                    <img id="change-main-img" class="img-responsive" src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "300x300")))" alt="@item["MetaTitle"]" alt="@item["MetaTitle"]" >
                                </div>
                            </div>
                            <div class="wrap-carousel mb-20">
                                <div class="owl-carousel owl-theme thumb-carousel">
                                    @{String[] imgs = item["SlideImage"].ToString().Replace("\n", ";").Split(';');}   
                                    <div class="thumb-item">
                                        <div class="thumb-img">
                                            <div class="inner">
                                                <a href="/uploads/@item["Image"]" class="trigger-large-image" data-large-image="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "300x300")))">
                                                    <img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "50x50")))" width="50" height="50" alt="@item["MetaTitle"]" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @if ((imgs.Length % 2) == 0)
                                    {
                                        for (int i = 0; i < imgs.Length; i += 2)
                                        {
                                            <div class="thumb-item">
                                                <div class="thumb-img">
                                                    <div class="inner">
                                                        <a href="/uploads/@imgs[i + 1]" class="trigger-large-image" data-large-image="@(Url.Content("~/thumb/" + Libs.ThumbName(imgs[i + 1].Trim(), "300x300")))" title="@imgs[i]">
                                                            <img src="@(Url.Content("~/thumb/" + Libs.ThumbName(imgs[i + 1].Trim(), "50x50")))" width="50" height="50" alt="@imgs[i]" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="prod-information">
                            
                            <p class="manufacturer">
                                <b>Hãng sản xuất:</b> <a href="#">BBT Global</a>
                            </p>
                            <p class="price-sale-title"><b>Giá khuyến mãi</b> <span>-20%</span></p>
                            <div class="price-at">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-5">
                                            <span class="col-xs-6 at">Tại Hà Nội</span>
                                            <span class="col-xs-6 pr active">@Libs.sCurrency(Convert.ToDecimal(item["0C80DCD0-5D8E-4041-ACAF-2CF7C2916162"])) VNĐ</span>
                                        </div>
                                        <div class="row mb-5">
                                            <span class="col-xs-6 at">Tại Hồ Chí Minh</span>
                                            <span class="col-xs-6 pr">@Libs.sCurrency(Convert.ToDecimal(item["6197D743-0B16-4BCF-8048-3803AE3FDCD8"])) VNĐ</span>
                                        </div>
                                        <div class="row mb-5">                                            
                                            <span class="col-xs-6 at">Tại Đà Nẵng</span>
                                            <span class="col-xs-6 pr">@Libs.sCurrency(Convert.ToDecimal(item["E5675BF4-6F52-45A5-BD32-0E89675C4E18"])) VNĐ</span>
                                        </div>
                                        <div class="row mb-5">
                                            <span class="col-xs-6 at">Tại Hải Phòng</span>
                                            <span class="col-xs-6 pr">@Libs.sCurrency(Convert.ToDecimal(item["665F2362-FE8A-4169-9513-0109340F3C0B"])) VNĐ</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-10">
                                        @*<ul class="nav nav-stacked list-bh">
                                            <li>Bảo hành: 6 tháng</li>
                                            <li>Độ tuổi: dành cho bé từ 1.5 đến 6 tuổi</li>
                                            <li>Kích thước: 110 x 50 x 80 (cm)</li>
                                        </ul>*@
                                        <p>@Html.Raw(item["Brief"].ToString().Replace("\n", "<br />"))</p>
                                    </div>
                                </div>
                            </div>
                            <p><b>Mua hàng</b></p>
                            <div class="row">
                                <div class="col-md-6 mb-20 text-center">
                                    <a href="javascript:addToCartRedirect('@item["ProductID"]',1,'')" class="btn-muahangngay">Mua ngay</a>
                                </div>
                                <div class="col-md-6 mb-20 text-center">
                                    <a  href="javascript:addToShoppingCart('@item["ProductID"]',1,'')" class="btn-themvaogio"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="row mb-20">
                                <div class="col-md-3 col-sm-5 col-xs-4"><a href="/contact" target="_blank">Góp ý - Báo lỗi</a></div>
                                <div class="col-md-2 col-sm-7 col-xs-8"><a href="/hướng-dẫn-mua-hàng" target="_blank">Hướng dẫn</a></div>
                            </div>
                            <div class="cal-center mb-20">
                                @Html.Raw(ViewBag.StaticProductSupport[0]["Description"])
                            </div>
                            <p><b>Dịch vụ & Khuyến mãi</b></p>
                            <ul class="nav nav-stacked list-gift">
                                <li>Tặng 01 trái bóng rổ và bơm bóng trị giá 50.000 VNĐ</li>
                                <li>Tặng 01 trái bóng rổ và bơm bóng trị giá 50.000 VNĐ</li>
                                <li>Tặng 01 trái bóng rổ và bơm bóng trị giá 50.000 VNĐ</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-sm-12">
                        <!-- TAB NAVIGATION -->
                        <ul class="nav nav-tabs new-tabs" role="tablist">
                            <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Mô tả sản phẩm</a></li>
                            <li><a href="#tab2" role="tab" data-toggle="tab">Thông số kĩ thuật</a></li>
                            <li><a href="#tab3" role="tab" data-toggle="tab">Video</a></li>
                        </ul>
                        <!-- TAB CONTENT -->
                        <div class="tab-content">
                            <div class="active tab-pane fade in" id="tab1">
                                <div class="content-des">
                                    <p>@Html.Raw(item["Content"])</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="content-des">
                                    <p>@Html.Raw(item["Content"])</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3">
                                <div class="content-des">
                                    <p>@Html.Raw(item["Content"])</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.ProductOther.Count > 0)
                {
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="site-title">
                                <h4>Sản phẩm cùng danh mục</h4>
                            </div>
                            <div class="wrap-carousel">
                                <div class="owl-carousel owl-theme deal-carousel">
                                
                                    @foreach (var itemother in ViewBag.ProductOther)
                                    {
                                        <div class="prod-item">
                                            <div class="prod-img">
                                                @if (!itemother["DiscountPercent"].ToString().Equals("0"))
                                                {
                                                    <span class="discount">-@itemother["DiscountPercent"]%</span>
                                                }
                                                @if (itemother["Type"].IndexOf("GIFT") >= 0)
                                                {
                                                    <span class="discount"></span>
                                                }
                                                
                                                <div class="inner">
                                                    <a href="/p/@(itemother["SEOName"]).html" title="@itemother["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(itemother["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                                </div>
                                            </div>
                                            <div class="prod-info">
                                                <h1 class="prod-name"><a class="title" href="/p/@(itemother["SEOName"]).html" title="@itemother["MetaTitle"]">@itemother["Title"]</a>
                                                </h1>
                                                <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(itemother["SalePrice"])) VNĐ</h4>
                                                <div class="text-center mt-20">
                                                    <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
               
                <div class="row mb-20">
                    <div class="col-sm-12">
                        <div class="site-title">
                            <h4>Chương trình khuyến mãi</h4>
                        </div>
                        <div class="">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a euismod justo. Duis porta dui ut mauris pharetra finibus. Donec tincidunt lorem vel malesuada semper. Integer in quam pulvinar, efficitur mi sed, hendrerit nisi. Maecenas commodo orci quis enim vestibulum, quis vulputate neque convallis. Nunc in gravida metus, eget dignissim mi. Nulla convallis interdum eros non rhoncus. In facilisis, dolor ut faucibus tincidunt, urna purus sodales augue, non pellentesque turpis felis facilisis mi. Nunc a auctor tortor. Proin dui felis, vehicula at nisl sed, ullamcorper varius sapien. Mauris egestas aliquet nisl, sit amet aliquam mauris ultricies id. Cras accumsan, metus vel malesuada tempor, dolor velit feugiat purus, ut ullamcorper justo felis vitae neque. Donec faucibus ac tortor et gravida.
                            </p>
                            <p>
                                Nulla aliquet sem arcu, commodo rhoncus elit placerat nec. Pellentesque porttitor est vitae nibh bibendum egestas. Fusce urna dolor, imperdiet pellentesque massa tristique, suscipit commodo sapien. In hac habitasse platea dictumst. Phasellus vitae sem maximus, pharetra massa quis, dignissim nunc. Mauris dictum, tellus ut ultrices cursus, elit est luctus nisl, in condimentum risus tellus sit amet leo. Integer tempor sed risus eleifend facilisis.
                            </p>
                            <p>
                                Aliquam eu rutrum enim. Nullam ac vulputate nisl. Pellentesque est orci, egestas lacinia commodo eu, ornare non mauris. Sed ac com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-sm-12">
                        <div class="site-title">
                            <h4>Về đồ chơi của bé</h4>
                        </div>
                        <div class="">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a euismod justo. Duis porta dui ut mauris pharetra finibus. Donec tincidunt lorem vel malesuada semper. Integer in quam pulvinar, efficitur mi sed, hendrerit nisi. Maecenas commodo orci quis enim vestibulum, quis vulputate neque convallis. Nunc in gravida metus, eget dignissim mi. Nulla convallis interdum eros non rhoncus. In facilisis, dolor ut faucibus tincidunt, urna purus sodales augue, non pellentesque turpis felis facilisis mi. Nunc a auctor tortor. Proin dui felis, vehicula at nisl sed, ullamcorper varius sapien. Mauris egestas aliquet nisl, sit amet aliquam mauris ultricies id. Cras accumsan, metus vel malesuada tempor, dolor velit feugiat purus, ut ullamcorper justo felis vitae neque. Donec faucibus ac tortor et gravida.
                            </p>
                            <p>
                                Nulla aliquet sem arcu, commodo rhoncus elit placerat nec. Pellentesque porttitor est vitae nibh bibendum egestas. Fusce urna dolor, imperdiet pellentesque massa tristique, suscipit commodo sapien. In hac habitasse platea dictumst. Phasellus vitae sem maximus, pharetra massa quis, dignissim nunc. Mauris dictum, tellus ut ultrices cursus, elit est luctus nisl, in condimentum risus tellus sit amet leo. Integer tempor sed risus eleifend facilisis.
                            </p>
                            <p>
                                Aliquam eu rutrum enim. Nullam ac vulputate nisl. Pellentesque est orci, egestas lacinia commodo eu, ornare non mauris. Sed ac com
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            }
            
        </div>
    </section>
}
