@using iGoo.Helpers

@{
    Layout = "~/Areas/Webcms/Views/Shared/Layout.cshtml";
}

@section head
{

<script src="@Url.Content("~/Script/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Script/jquery.validate.js")" type="text/javascript"></script>
<script type="text/javascript">
    $().ready(function () {
        ActionForm('@Url.Action(String.Empty)');

        SearchForm();

        editorBasic("txtContent");

        ShowUpload();
        ShowSearch();
        loadTabs("tabs_content");
        loadTabs("tabs_seo");

        //Validate form
        $("#frmAdd").validate({
            errorPlacement: function (error, element) { },
            rules: {
                txtUserName: { required: true, email: true },
                txtPassword: "required",
                txtRePassword: { equalTo: "#txtPassword" }
            }
        });

        $('#txtTitle').keyup(function () {
            $('#txtSEOName').val(UrlSeo($(this).val()));
            $('#txtMetaTitle').val($(this).val());
        });
    });
</script>

}

@section content
{
        <div class="full"></div>
        <div class="panel upload">
            <iframe class="iframe" name="fUpload" id="fUpload"></iframe>
        </div>
        <div class="box-content">
            <form id="frmAdd">
            <div class="title">
                <img src="@Url.Content("~/Source/webcms/images/home.png")" />
                <span>Quản lý thuộc tính</span>
                <button type="button" onclick="history.back(-1);">Quay lại</button>
                <button type="button" id="btnUpdate">Cập nhật</button>
                <input type="hidden" name="ID" id="ID" value="@Request.Get("ID")" />
                <input type="hidden" name="returnUrl" value="@Request.Query(string.Empty)" />
            </div>
            <!-- End title -->
            <input type="hidden" name="returnUrl" value="@Request.Query(string.Empty)" />
            @{bool flag = ViewBag.Edit == null;}
            <div class="content-right add">
            	<div class="item-box">
                	
                    <table class="table-add">
                        <tbody>
                            <tr>
                                <th><label>Danh mục</label></th>
                                <td>
                                <select name="slSearchCate" style="width:160px;" title="@(flag ? String.Empty : ViewBag.Edit[0]["CategoryID"])" >
                                    <option value="">Danh mục</option>
                                    @foreach (var item in ViewBag.MenuCate)
                                    {
                                        <option value="@item.CategoryID">@item.Name</option>
                                        foreach (var item1 in @item.MenuCate)
                                        {
                                            <option value="@item1.CategoryID">&nbsp;|-- @item1.Name</option>
                                                foreach (var item2 in @item1.MenuCate)
                                            {
                                                    <option value="@item2.CategoryID">&nbsp;&nbsp;&nbsp;|-- @item2.Name</option>
                                                foreach (var item3 in @item2.MenuCate)
                                                {
                                                    <option value="@item3.CategoryID">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|-- @item3.Name</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label>Trạng thái</label></th>
                                <td>
                                <select class="change" name="slStatus" title="@(flag ? String.Empty : ViewBag.Edit[0]["Status"])" >
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Không hoạt động</option>
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label>Up tin</label></th>
                                <td><input type="checkbox" name="ckRefresh" value="1" /> Tin mới</td>
                            </tr>
                            <tr>
                                <th><label>Loại tin</label></th>
                                <td>
                                <div class="list-Type">
                                    @foreach (var item in ViewBag.Type)
                                    {
                    	                <p><input type="checkbox" name="ckType" title="@(flag ? String.Empty : @ViewBag.Edit[0]["Type"])" value="@item["Value"]" />@item["Name"]</p>
                                    }
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>Thứ tự</label></th>
                                <td><input type="text" value="@(flag ? String.Empty : String.Equals(ViewBag.Edit[0]["Order"].ToString(), "999") ? String.Empty : ViewBag.Edit[0]["Order"])" name="txtOrder" size="2" /></td>
                            </tr>
                            <tr>
                                <th><label>Poll ID</label></th>
                                <td><input type="text" name="txtPollID" id="txtPoll" lang="SetPoll" value="@(flag ? String.Empty : ViewBag.Edit[0]["PollID"])" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action">
                        <button type="button" id="btnUpdate">Cập nhật</button>
                    </div>
                </div>
            </div>
            <!-- End box2 -->
            <div class="content-left add">
                @if (@Request.Get("result").Equals("1"))
                {
                    <p class="result">Cập nhật thành công!</p>
                }
                @if (@Request.Get("error").Equals("1"))
                {
                <p class="error">Có lỗi, xin hãy kiểm tra và thử lại!</p>
                }
            	<div class="item-box">
                	<h3 class="item-title">Tin tức</h3>
                    <table class="table-add">
                        <tbody>
                            <tr>
                                <th><label>Tiêu đề</label></th>
                                <td><input type="text" name="txtTitle" id="txtTitle" value="@(flag ? String.Empty : ViewBag.Edit[0]["Title"])" /></td>
                            </tr>
                            <tr>
                                <th><label>SEO Name</label></th>
                                <td><input type="text" name="txtSEOName" id="txtSEOName" value="@(flag ? String.Empty : ViewBag.Edit[0]["SEOName"])" /></td>
                            </tr>
                            <tr>
                                <th><label>Ảnh</label></th>
                                <td><input type="text" name="txtImage" id="txtImage" lang="ImageFile" value="@(flag ? String.Empty : ViewBag.Edit[0]["Image"])" /></td>
                            </tr>
                            <tr>
                                <th><label>Tóm tắt</label></th>
                                <td><textarea id="txtBrief" name="txtBrief" rows="5">@(flag ? String.Empty : ViewBag.Edit[0]["Brief"])</textarea></td>
                            </tr>
                            <tr>
                                <th><label>Nội dung</label></th>
                                <td>
                                    <div id="tabs_content">
                                        <ul class="tabs">
                                            <li><a href="#content">Nội dung</a></li>
                                            <li><a href="#image">Slide show</a></li>
                                            <li><a href="#related">Tin liên quan</a></li>
                                        </ul>
                                        <div class="tab_container">                                            <div id="content" class="tab_content">
                                                <p><textarea id="txtContent" name="txtContent" rows="20">@(flag ? String.Empty : ViewBag.Edit[0]["Content"])</textarea></p>
                                                <p><button type="button" id="btnImage" title="upload" lang="ImageDescription">Thêm ảnh</button></p>
                                            </div>
                                            <div id="image" class="tab_content">
                                                <p><textarea id="txtSlideImage" name="txtSlideImage" rows="10">@(flag ? String.Empty : ViewBag.Edit[0]["SlideImage"])</textarea></p>
                                                <p><button type="button" id="btnImage" title="upload" lang="ImageList">Thêm ảnh</button></p>
                                            </div>
                                            <div id="related" class="tab_content">
                                                <p><textarea id="txtRelated" name="txtRelated" rows="5">@(flag ? String.Empty : ViewBag.Edit[0]["Related"])</textarea></p>
                                                <p><button type="button" id="btnAddRelated" lang="SetRelated">Thêm tin</button></p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label>SEO</label></th>
                                <td>
                                    <div id="tabs_seo">
                                        <ul class="tabs">
                                            <li><a href="#metatitle">Meta Title</a></li>
                                            <li><a href="#metadescription">Meta Description</a></li>
                                            <li><a href="#metakeyword">Meta Keyword</a></li>                                            
                                            <li><a href="#robots">Meta Robots</a></li>
                                            <li><a href="#tags">Tags</a></li>
                                            <li><a href="#tagstitle">Tags Title</a></li>
                                        </ul>
                                        <div class="tab_container">
                                            <div id="metatitle" class="tab_content">
                                                <p><input type="text" name="txtMetaTitle" id="txtMetaTitle" value="@(flag ? String.Empty : ViewBag.Edit[0]["MetaTitle"])" /></p>
                                            </div>
                                            <div id="metadescription" class="tab_content">
                                                <p><textarea id="txtMetaDescription" name="txtMetaDescription" rows="5">@(flag ? String.Empty : ViewBag.Edit[0]["MetaDescription"])</textarea></p>
                                            </div>
                                            <div id="metakeyword" class="tab_content">
                                                <p><input type="text" name="txtMetaKeyword" value="@(flag ? String.Empty : ViewBag.Edit[0]["MetaKeyword"])" /></p>
                                            </div>
                                            <div id="tags" class="tab_content">
                                                <p><input type="text" name="txtTags" value="@(flag ? String.Empty : ViewBag.Edit[0]["Tags"])" /></p>
                                            </div>
                                            <div id="tagstitle" class="tab_content">
                                                <p><input type="text" name="txtTagsTitle" value="@(flag ? String.Empty : ViewBag.Edit[0]["TagsTitle"])" /></p>
                                            </div>
                                            <div id="robots" class="tab_content">
                                                <p><input type="checkbox" name="ckType" id="ckType" title="@(flag ? String.Empty : @ViewBag.Edit[0]["Type"])" value="NOINDEX" />NOINDEX</p>
                                                <p><input type="checkbox" name="ckType" id="ckType" title="@(flag ? String.Empty : @ViewBag.Edit[0]["Type"])" value="NOFOLLOW" />NOFOLLOW</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><button type="button" id="btnUpdate">Cập nhật</button></p>
            </div>
            <!-- End box1 -->
            </form>
        </div>
        <!-- End content -->
}