@using System.Globalization
@using iGoo.Helpers

@{
    Layout = "~/Areas/Webcms/Views/Shared/Layout.cshtml";
}

@section head
{

<script src="@Url.Content("~/Script/jquery.validate.js")" type="text/javascript"></script>
<script type="text/javascript">
    $().ready(function () {
        ActionForm('@Url.Action(String.Empty)');

        SearchForm();
    });
    function addNew(){
        $.post("@Url.Action("AddNew")",
        function (data) {
            alert(data);
            location.reload(true);
        });
    };
    
    function getDistrict(provId) {
        var URL = "/Webcms/Order/GetDistrict/" + provId;
        $.get(URL, null, function (data) {
            var dJson = $.parseJSON(data);
            $("#district").empty();
            $("#district").append('<option value="0">Chọn quận/huyện</option>');
            $.each(dJson, function (index, d) {
                $("#district").append('<option value="' + d.value + '">' + d.Name + '</option>');
            });
        });
    }
</script>

}

@section content
{
        <div class="box-content">
			<div class="content-left f">
                <div class="title">
                    <img src="@Url.Content("~/Source/webcms/images/home.png")" />
                    <span>Quản lý đơn hàng</span>
                    <button type="button" onclick="history.back(-1);">Quay lại</button>
                </div>
                <!-- End title -->
                <form id="frmSearch">
    			<div class="search">
			        <label>Từ khóa </label>
                    <input type="hidden" name="t" id="t" value="@ViewBag.oType"/>
                    @{string dis = "";}
                    @if (ViewBag.oType==1){
                        dis = "style=visibility:hidden;";
                    }
                    <input type="text" name="txtKey" value="@Request.Get("txtKey")" />
                    <select name="slSearchCate" title="@Request.Get("slSearchCate")" >
                        <option value="">Danh mục</option>
                        @foreach (var item in ViewBag.GroupProduct)
                        {
                        <option value="@item["CategoryID"]">@item["Name"]</option>
                        }
                    </select>
                    <select name="slSearchType" title="@Request.Get("slSearchType")" >
                        <option value="">Loại</option>
                        @foreach (var item in ViewBag.GroupType)
                        {
                        <option value="@item["Value"]">@item["Name"]</option>
                        }
                    </select>
			        <select name="slSearchStatus" @dis title="@Request.Get("slSearchStatus")" >
			            @Html.Raw(ViewBag.OStatus)
			        </select>
			        @*<br />
                    <label>Tỉnh / Thành phố</label>
			        <select name="province" id="province" title="@Request.Get("province")" onchange="getDistrict(this.value,0);">
			            <option value="">Chọn tỉnh</option>
			            @foreach (var item in ViewBag.Province)
			            {
			                <option value="@item["Value"]">@item["Name"]</option>
			            }
			        </select>
                    <label>Quận / Huyện</label>
			        <select name="district" id="district" title="@Request.Get("district")">
			            <option value="0">Chọn quận/huyện</option>
                        @foreach (var item in ViewBag.District)
			            {
			                <option value="@item["Value"]">@item["Name"]</option>
			            }
			        </select>*@
                    <button type="submit">Tìm kiếm</button>
                </div>
                </form>
                <!-- End search -->
                <form id="frmList">
                <div class="list">
                    @if (@Request.Get("result").Equals("1"))
                    {
                        if (!@Request.Get("t").Equals("1"))
                        {
                            <p class="result">Cập nhật thành công!</p>
                        }
                        else
                        {
                            <p class="result">Hóa đơn đã giao hàng, không thể xóa!</p>
                        }
                    }
                    @if (@Request.Get("error").Equals("1"))
                    {
                    <p class="error">Có lỗi, xin hãy kiểm tra và thử lại!</p>
                    }
                    <div class="page">
                        <input type="hidden" name="t" id="t" value="@ViewBag.oType" />
                        <div class="action">
                            <button type="button" id="btnActionDelete" >Xóa</button>
                            <a href ="Order/ProcessOrder?t=@ViewBag.oType" target="_blank" class="button">Thêm mới</a>
                        </div>
                        <div class="page-list">                        
                            <label>Show</label>
                            <select id="show" title="@Request.Get("show")">
                                <option title="@Request.Query("show=20&page=1")" value="20">20</option>
                                <option title="@Request.Query("show=60&page=1")" value="60">60</option>
                                <option title="@Request.Query("show=100&page=1")" value="100">100</option>
                            </select>
                            <label>Trang @(Request.IsNull("page") ? "1" : @Request.Get("page"))/@ViewBag.TotalPages</label>
                            <select id="page" title="@Request.Get("page")">
                                @for (int i = 1; i <= Convert.ToInt32(ViewBag.TotalPages); i++)
                                {
                                    <option title="@(Request.Query("page=" + i))" value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!-- End page -->
                    <div class="table-list">    
                        <table>
                            <thead>
                                <th>#</th>
                                <th style="width:30px;"><input type="checkbox" value="ckID" id="ckCheckAll" /></th>
                                <th><a class="@(Request.Get("OrderBy").Equals("OrderCode") ? (Request.Get("Order").Equals("asc") ? "desc" : "asc") : String.Empty)" href="@Request.Query("OrderBy=OrderCode&Order=" + (Request.Get("Order").Equals("asc") ? "desc" : "asc"))&t=@ViewBag.oType" >Mã đơn hàng</a></th>
                                <th><a class="@(Request.Get("OrderBy").Equals("FullName") ? (Request.Get("Order").Equals("asc") ? "desc" : "asc") : String.Empty)" href="@Request.Query("OrderBy=FullName&Order=" + (Request.Get("Order").Equals("asc") ? "desc" : "asc"))&t=@ViewBag.oType" >Tên khách hàng</a></th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th><a class="@(Request.Get("OrderBy").Equals("TotalPrice") ? (Request.Get("Order").Equals("asc") ? "desc" : "asc") : String.Empty)" href="@Request.Query("OrderBy=TotalPrice&Order=" + (Request.Get("Order").Equals("asc") ? "desc" : "asc"))&t=@ViewBag.oType" >Tổng tiền</a></th>
                                <th><a class="@(Request.Get("OrderBy").Equals("Created") ? (Request.Get("Order").Equals("asc") ? "desc" : "asc") : String.Empty)" href="@Request.Query("OrderBy=Created&Order=" + (Request.Get("Order").Equals("asc") ? "desc" : "asc"))&t=@ViewBag.oType" >Thời gian đặt hàng</a></th>
                                @if (ViewBag.oType == 2 || ViewBag.oType == 3)
                                {
                                    <th>Kho hàng</th>
                                }
                            </thead>
                            <tbody>
                                @{string btnDelete = "<button type=\"button\" id=\"btnActionDelete\">Xóa</button>";}
                                @{int count = 0;}
                                @foreach (var item in ViewBag.Order)
                                {
                                    count += 1;
                                    string disable = "disabled=\"disabled\"";
                                    string statusID = item["Status"].ToString();
                                    if (statusID.Equals("4"))
                                    {
                                        disable = "";
                                        btnDelete = "";
                                    }
                                    <tr>
                                        <td>@count</td>
                                        <td><input type="checkbox" title="ckID" name="ckID-@count" value="@item["OrderID"]" @disable/></td>
                                        <td class="subject">
                                            <span>@item["OrderCode"]</span>
                                            <div class="edit">
                                                <a target="_blank" class="actionEdit" href="/Webcms/Order/ProcessOrder?ID=@item["OrderID"]">Xem</a>
@*                                                <a class="actionDelete" href="javascript:Delete('@item["OrderID"]');">Xóa</a>*@
                                            </div>
                                        </td>
                                        <td>@item["FullName"]</td>
                                        <td>@item["Phone"]</td>
                                        <td>@item["Address"]</td>
                                        <td>@(string.Format("{0:N0}", item["TotalPrice"]))</td>
                                        <td>@item["Created"]</td>
                                        @if (ViewBag.oType == 2 || ViewBag.oType == 3)
                                        {
                                            <td>@item["InventoryName"]</td>
                                        }
@*                                        <td>*@
@*                                            <select class="change" name="slStatus-@count" title="@item["Status"]" disabled="disabled" >*@
@*                                                <option value="0">Chờ xử lý</option>*@
@*                                                <option value="1">Đang xử lý</option>*@
@*                                                <option value="5">Chờ vào sổ</option>*@
@*                                                <option value="3">Chờ giao hàng</option>*@
@*                                                <option value="6">Đang giao hàng</option>*@
@*                                                <option value="2">Hoàn tất</option>*@
@*                                                <option value="4">Huỷ bỏ</option>*@
@*                                            </select>*@
@*                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <th>#</th>
                                <th style="width:30px;"><input type="checkbox" value="ckID" id="ckCheckAll" /></th>
                                <th><a class="@(Request.Get("OrderBy").Equals("OrderCode") ? (Request.Get("Order").Equals("asc") ? "desc" : "asc") : String.Empty)" href="@Request.Query("OrderBy=OrderCode&Order=" + (Request.Get("Order").Equals("asc") ? "desc" : "asc"))" >Mã đơn hàng</a></th>
                                <th><a class="@(Request.Get("OrderBy").Equals("FullName") ? (Request.Get("Order").Equals("asc") ? "desc" : "asc") : String.Empty)" href="@Request.Query("OrderBy=FullName&Order=" + (Request.Get("Order").Equals("asc") ? "desc" : "asc"))&t=@ViewBag.oType">Tên khách hàng</a></th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th><a class="@(Request.Get("OrderBy").Equals("TotalPrice") ? (Request.Get("Order").Equals("asc") ? "desc" : "asc") : String.Empty)" href="@Request.Query("OrderBy=TotalPrice&Order=" + (Request.Get("Order").Equals("asc") ? "desc" : "asc"))" >Tổng tiền</a></th>
                                <th><a class="@(Request.Get("OrderBy").Equals("Created") ? (Request.Get("Order").Equals("asc") ? "desc" : "asc") : String.Empty)" href="@Request.Query("OrderBy=Created&Order=" + (Request.Get("Order").Equals("asc") ? "desc" : "asc"))" >Thời gian đặt hàng</a></th>
                                @if (ViewBag.oType == 2 || ViewBag.oType == 3)
                                {
                                    <th>Kho hàng</th>
                                }
                            </tfoot>
                        </table>
                    </div>
                    <div class="page">
                        <div class="action">
                            <input type="hidden" name="count" value="@count" />
                            <input type="hidden" name="returnUrl" id="returnUrl" value="@Request.Query(string.Empty)" />
                            <button type="button" id="btnActionDelete" >Xóa</button>
                        </div>
                        <div class="page-list">                        
                            <label>Show</label>
                            <select id="show" title="@Request.Get("show")">
                                <option title="@Request.Query("show=20&page=1")" value="20">20</option>
                                <option title="@Request.Query("show=60&page=1")" value="60">60</option>
                                <option title="@Request.Query("show=100&page=1")" value="100">100</option>
                            </select>
                            <label>Trang @(Request.IsNull("page") ? "1" : @Request.Get("page"))/@ViewBag.TotalPages</label>
                            <select id="page" title="@Request.Get("page")">
                                @for (int i = 1; i <= Convert.ToInt32(ViewBag.TotalPages); i++)
                                {
                                <option title="@(Request.Query("page=" + i))" value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!-- End page -->
                </div>
                <!-- End list -->
                </form>
            </div>
            <!-- End box1 -->
            </form>
        </div>
        <!-- End content -->
                                }