@using iGoo.Helpers

@{
    Layout = "~/Views/Layout/Home.cshtml";
    ViewBag.IsHomePage = true;
}

@section meta{
    <title>@ViewBag.Website[0]["MetaTitle"]</title>
    <meta name="description" content="@ViewBag.Website[0]["MetaDescription"]" />
    <meta name="keywords" content="@ViewBag.Website[0]["MetaKeyword"]" />
    <link rel="canonical" href="http://@Libs.sApp("Domain")" />

}

@section head{
    <!-- App.js -->
    <script src="../../NewDesign/public/js/common.script.js"></script>
    <script src="../../NewDesign/public/js/home.script.js"></script>
    <script type="text/javascript" src="/Script/jquery.tooltip.js"></script>
    <script type="text/javascript" src="/Script/fancybox/jquery.fancybox.js"></script>
    <link href="/Script/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $('#slider').bxSlider({
                mode: 'fade',
                auto: true,
                pager: false
            });

            $(".tooltip").tooltip({
                bodyHandler: function () {
                    return $(this).children(".tooltip_content").html();
                },
                track: true,
                showURL: false
            });

            poll();

        });
    </script>

}
@section main{
    <section id="banner-slide">
        <div class="container">
            <div id="full-width-slider" style="width: 100%; height: 300px;">
                @foreach (var item in ViewBag.AdvSlide)
                {
                    if (Path.GetExtension(item["File"]).ToLower().Equals(".swf"))
                    {
                        <div class="ls-slide" data-ls="slidedelay: 4000;transition2d: 5;">
                            <embed src="/Uploads/@item["File"]" width="610" height="220" type="application/x-shockwave-flash" wmode="transparent"></embed>
                        </div>
                    }
                    else
                    {
                        <div class="ls-slide" data-ls="slidedelay: 4000;transition2d: 5;">
                            <img src="/Uploads/@item["File"]" class="ls-bg" alt="@item["Title"]">
                            <a href="@item["UrlLink"]" class="ls-link" title="@item["Title"]" @Html.Raw(item["Target"].ToString().Equals("1") ? "target=\"_blank\"" : String.Empty)></a>
                            <img src="/Uploads/@item["File"]" class="ls-tn" alt="@item["Title"]">
                        </div>
                    }
                }
                
            </div>
        </div>
    </section>
    <section id="content">
    <div class="container">
    <div class="page-title">
        <div class="row row-collapse">
            <div class="col-md-3 col-sm-3 col-xs-4">
                <span class="cat">Danh Mục 1</span>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-7 hidden-xs">
                <ul class="nav nav-pills nav-sp">
                    <li><a href="#">Sản phẩm 1</a></li>
                    <li><a href="#">Sản phẩm 2</a></li>
                    <li><a href="#">Sản phẩm 3</a></li>
                    <li><a href="#">Sản phẩm 4</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-8">
                <ul class="nav nav-pills">
                    <li><a href="#">Tất Cả Sản Phẩm</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="prod-block">
        <ul class="nav nav-tabs mytabs" role="tablist">
            <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Khuyến Mãi</a></li>
            <li><a href="#tab2" role="tab" data-toggle="tab">Bán Chạy</a></li>
            <li><a href="#tab3" role="tab" data-toggle="tab">Mới & Nổi Bật</a></li>
            <li class="all-show"><a href="#">Xem Tất Cả</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane fade in" id="tab1">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductSale)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if(!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name"><a  href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductTop)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if(!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name"><a  href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductNew)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if(!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name"><a  href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="row row-collapse">
            <div class="col-md-3 col-sm-3 col-xs-4">
                <span class="cat">Danh Mục 1</span>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-7 hidden-xs">
                <ul class="nav nav-pills nav-sp">
                    <li><a href="#">Sản phẩm 1</a></li>
                    <li><a href="#">Sản phẩm 2</a></li>
                    <li><a href="#">Sản phẩm 3</a></li>
                    <li><a href="#">Sản phẩm 4</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-8">
                <ul class="nav nav-pills">
                    <li><a href="#">Tất Cả Sản Phẩm</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="prod-block">
        <ul class="nav nav-tabs mytabs" role="tablist">
            <li class="active"><a href="#tab4" role="tab" data-toggle="tab">Khuyến Mãi</a></li>
            <li><a href="#tab5" role="tab" data-toggle="tab">Bán Chạy</a></li>
            <li><a href="#tab6" role="tab" data-toggle="tab">Mới & Nổi Bật</a></li>
            <li class="all-show"><a href="#">Xem Tất Cả</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane fade in" id="tab4">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductSale)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if(!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name"><a  href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab5">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductTop)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if(!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name"><a  href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab6">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductNew)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if (!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="row row-collapse">
            <div class="col-md-3 col-sm-3 col-xs-4">
                <span class="cat">Danh Mục 1</span>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-7 hidden-xs">
                <ul class="nav nav-pills nav-sp">
                    <li><a href="#">Sản phẩm 1</a></li>
                    <li><a href="#">Sản phẩm 2</a></li>
                    <li><a href="#">Sản phẩm 3</a></li>
                    <li><a href="#">Sản phẩm 4</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-8">
                <ul class="nav nav-pills">
                    <li><a href="#">Tất Cả Sản Phẩm</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="prod-block">
        <ul class="nav nav-tabs mytabs" role="tablist">
            <li class="active"><a href="#tab7" role="tab" data-toggle="tab">Khuyến Mãi</a></li>
            <li><a href="#tab8" role="tab" data-toggle="tab">Bán Chạy</a></li>
            <li><a href="#tab9" role="tab" data-toggle="tab">Mới & Nổi Bật</a></li>
            <li class="all-show"><a href="#">Xem Tất Cả</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane fade in" id="tab7">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductSale)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if(!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name"><a  href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab8">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductTop)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if(!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name"><a  href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab9">
                <div class="content-carousel">
                    <div class="wrap-carousel">
                        <div class="owl-carousel owl-theme deal-carousel">
                            @foreach (var item in ViewBag.ProductNew)
                            {
                                <div class="prod-item">
                                    <div class="prod-img">
                                        @if (!item["DiscountPercent"].ToString().Equals("0"))
                                        {
                                            <span class="discount">-@item["DiscountPercent"]%</span>
                                        }
                                        <div class="inner">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]"><img src="@(Url.Content("~/thumb/" + Libs.ThumbName(item["Image"].ToString(), "170x153")))" alt="@item["MetaTitle"]" /></a>
                                        </div>
                                    </div>
                                    <div class="prod-info">
                                        <h1 class="prod-name">
                                            <a href="/p/@(item["SEOName"]).html" title="@item["MetaTitle"]">@item["Title"]</a>
                                        </h1>
                                        <h4 class="prod-price">@Libs.sCurrency(Convert.ToDecimal(item["SalePrice"]))₫</h4>
                                        <div class="text-center mt-20">
                                            <a href="#" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
}

